div {
    margin:0 0;
    height:180px;
    width:200px;
    position:relative;
    overflow:hidden;
    display:inline-block;
    margin-right:-51px;
    vertical-align:middle;
  }
  div span {
    overflow:hidden;
    position:absolute;
    height:110%;
    width:100%;
    top:-5%;
    left:0;
    box-shadow: inset 0 0 0 3px;
    background:blue;
    transform:rotate(45.5deg) skew(16.5deg,15.5deg);  
  }
  div span img {
    transform:rotate(-45deg) skew(0,0) scale(1.4,0.77) ;
  }
  img {
    vertical-align:bottom;
    border:solid;
  }
  div:nth-child(odd) {
    margin-bottom:2px;
  }
  div:nth-child(even) {
    margin-bottom:-179px;
  }
  section {
    width:920px;
    margin:auto;
    background:linear-gradient(to top right , pink,gray,lime,purple,yellow);
    padding:1px 51px 90px 1px;
  }
  body {
    background:#333;
  }