 section{
  
   text-align: center;
   top: 100px;
 }

 .cellDiv{
    width:50px;
    height:40px;    
    fill:palegreen;
}

.cellLetter{
  position:relative;
  top:-35px;
}
.cell {
  background-color: aqua;
  width: 60px;
  height: 60px;
  margin: 5px;
}

#historyHolder {
  color: blue;
  background-color: grey;
  width: 25%;
}

.wordHistory {
  color: white;
}

/* The animation code */
@keyframes fadeGreen {
  from {
      /*background-color: green;*/
      fill:green
  }

  to {
      /*background-color: aqua;*/
      fill:aqua
  }
}

/* The element to apply the animation to */
.good {
  animation-name: fadeGreen;
  animation-duration: 2s;  
}


@keyframes fadeRed {
  from {
      fill: red;
  }

  to {
      fill: aqua;
  }
}

/* The element to apply the animation to */
.bad {
  animation-name: fadeRed;
  animation-duration: 2s;
}

.used {
  /*background-color: peru;*/
  fill: peru ;

}

.cellDiv:hover{
  /* filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%); */
fill: lightblue;
transform: scale(1.1);

}

