
 section{
   position: relative;
   text-align: center;
   top: 100px;
 }

 .cellDiv{
    width:50px;
    height:40px;    
}

.cellLetter{
  position:relative;
  top:-35px;
}
.svgHex{
  fill: red !important;
  stroke: blue;
}
svg{
  fill: gold
}
